<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>LUCA_HOME</title>
        
        <link rel="stylesheet" href="../static/style_home.css">
    </head>

    <body>
        <div class="web19201">        <div class="freeIconSun6133823"></div>
        <div class="luca">LUCA<br /></div>
        <div class="xTest">영어발음 TEST</div>
        <div class="wrap">
            <a href="/test" class="button">START</a>
        
      </div>
        
            
    </div> 
</div>
</div>


    
    </body>
    </html>
            